body.navbar-is-fixed-top.navbar-administration .navbar-fixed-top {
  top: 39px;
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .navbar-fixed-top {
  top: 79px;
}

body.navbar-is-fixed-top.navbar-administration .navigation_col .action-menu {
  margin-top: 2.5em;
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .navigation_col .action-menu {
  margin-top: 4.3em;
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .modal-dialog.modal-lg {
  margin-top: 7.3em;
}

body.navbar-is-fixed-top.navbar-administration .modal-dialog.modal-lg {
  margin-top: 5.3em;
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .modal .close {
  margin-top: 1.3em;
}

body.navbar-is-fixed-top.navbar-administration .modal .close {
  margin-top: 0.5em;
}

.flexslider {
  margin: 0 !important;
  background: none !important;
  border: none !important;
}

.flexslider .slides>li:first-child {
  display: block;
  -webkit-backface-visibility: visible;
  padding-top: 1px;
}

.directionNav .slides img, .controlNav .slides img, .base-slider .slides img {
  width: 100%;
  display: block;
  height: auto;
}

.directionNav .flex-direction-nav .flex-prev {
  left: 1em;
}

.directionNav .flex-direction-nav .flex-next {
  right: 1em;
}

.optionset-flexslider-location .slides>li:nth-child(1), .directionNav .slides>li:nth-child(1) {
  display: block;
  -webkit-backface-visibility: visible;
  padding-top: 1px;
}

.flex-header, .tour-header {
  color: #ffffff;
  position: relative;
  bottom: unset;
  text-align: left;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  padding-left: 0;
}

.front .tour-header {
  color: #ffffff;
  position: relative;
  bottom: unset;
  text-align: left;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  padding-left: 0;
  transform: translate(0, 65%);
}

.tour-logo {
  float: left;
}

.flex-header h1 {
  color: #ffffff;
  text-align: left;
  border-bottom: none;
}

.flex-caption {
  margin-top: 0.2em;
  position: relative;
  bottom: unset;
  width: auto;
  padding-left: 0;
}

.page-header {
  border-bottom: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.breadcrumb-sitemap {
  display: inline-block;
  list-style: none;
}

.breadcrumb-wrap {
  padding: 0.3em 0.3em 0.3em 0;
  background: transparent;
  margin-bottom: 0;
}

.breadcrumb {
  display: inline;
  background: transparent;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}

.breadcrumb>li a {
  display: inline-block;
  color: #667f9c;
  padding-right: 9px;
  padding-left: 9px;
  border-bottom: none;
}

.breadcrumb>li a:hover {
  display: inline-block;
  color: #ffffff;
  border-bottom: none;
}

.breadcrumb>li a {
  transform: skew(25deg);
}

.breadcrumb>li {
  display: inline-block;
  color: #667f9c;
  background-color: #004a8c;
  transform: skew(-25deg);
  margin: 0.3em 0 0 0.4em;
  word-break: break-word;
  overflow-wrap: break-word;
}

.breadcrumb>li+li:before {
  padding: 0;
  color: #4c698c;
  content: " ";
  transform: skew(0);
}

.breadcrumb-sitemap li {
  margin-top: 0.3em;
}

.breadcrumb-sitemap li a {
  color: #667f9c;
  border-bottom: none;
  margin-left: 0.4em;
}

.breadcrumb-sitemap li a:hover {
  color: #ffffff;
  border-bottom: none;
}

.basic_page .flexslider .slides li img {
  margin-top: -8%;
  margin-bottom: -8%;
}

p a[target="_blank"]:after, a[target="_blank"]:after {
  font-family: 'Font Awesome 5 Free';
  content: " \f35d";
  font-weight: 900;
}

.search-block #search-api-page-search-form-search-page div:last-child::before, .search-block #search-api-page-search-form-search-site-page div:last-child::before {
  font-family: 'Font Awesome 5 Free';
  content: " \f002";
  font-weight: 900;
  padding: 0 0.5em
}

.front .flex-header {
  padding-left: 0.4em;
  color: #ffffff;
  position: relative;
  bottom: unset;
  text-align: left;
}

.front .flex-caption {
  padding-left: 1em;
  color: #ffffff;
  bottom: unset;
  width: auto;
  position: relative;
  text-align: left;
}

.front .flexslider .slides li img {
  margin-top: 0;
  margin-bottom: 0;
}

.maintenance-page .flexslider .slides li img {
  margin-top: -8%;
  margin-bottom: -8%;
}

.maintenance-page .caption-container {
  height: 100%;
  width: 56%;
  position: absolute;
  top: 0;
  left: 16.6667%;
}

.maintenance-page .flex-header {
  color: #ffffff;
  position: relative;
  bottom: unset;
  text-align: center;
}

.maintenance-page .flex-caption {
  margin-top: 0.2em;
  position: relative;
  bottom: unset;
  width: auto;
  text-align: center;
}

.maintenance-page .btn-disabled {
  background-color: #ffffff;
  border-color: #ffffff;
  cursor: default;
}

.maintenance-page .navbar-nav>li>a.btn-disabled:hover {
  border-top: 4px solid #ffffff;
  cursor: default;
}

.maintenance-page .navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.social-id {
  width: 100%;
  z-index: auto;
}

.flex_gradient {
  overflow: initial;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #004a8c;
  background-image: -moz-linear-gradient(-45deg, #002a5b 0%, #193f6b 41%, #002A5B 100%);
  background-image: -webkit-linear-gradient(-45deg, #002a5b 0%, #193f6b 41%, #002A5B 100%);
  background-image: linear-gradient(135deg, #002A5B 0%, #193f6b 41%, #002A5B 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002a5b', endColorstr='#004a8c', GradientType=1);
  background-attachment: fixed;
}

.labtecta-watermark {
  background-image: url(/files/fields/field_flex_image/labtecta-watermark-product.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%)
}

.banner-subtitle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.flexslider .slides img {
  height: auto;
}

.gmap-blocktitle {
  position: relative;
  z-index: 6;
  margin-top: -3.4em;
  text-align: center;
  color: #ffffff;
}

#gmap-map-home-gmap0 {
  z-index: 4;
  float: left;
}

.view-id-key_branches {
  background: #f5f5f5;
  border: 1px solid #ddd;
  margin-bottom: 3em;
}

.view-key-branches .view-content .views-row-odd {
  padding-bottom: 20px;
  padding-top: 20px;
}

.view-key-branches .view-content .views-row-even {
  padding-bottom: 20px;
  padding-top: 20px;
}

.view-global-branches-block .view-content .views-row-odd {
  padding-bottom: 20px;
  padding-top: 20px;
}

.view-global-branches-block .view-content .views-row-even {
  padding-bottom: 20px;
  padding-top: 20px;
}

.page-location-key-branches .tabs--primary {
  margin-top: 3em;
}

.location-branches .scrtabs-tab-scroll-arrow {
  width: 3em;
}

.location-branches .nav-tabs li a.asia {
  height: auto;
  width: auto;
  position: static;
}

.location-branches .nav-tabs li a.australasia {
  height: auto;
  width: auto;
  position: static;
}

.location-branches .nav-tabs li a.europe {
  height: auto;
  width: auto;
  position: static;
}

.location-branches .nav-tabs li a.north-america {
  height: auto;
  width: auto;
  position: static;
}

.location-branches .nav-tabs li a.south-america {
  height: auto;
  width: auto;
  position: static;
}

.image-placeholder {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #f5fbfe;
}

.africa-upper {
  position: absolute;
  left: 43%;
  height: 12%;
  width: 12%;
  border-bottom: none !important;
}

.africa-lower {
  position: absolute;
  top: 57%;
  height: 28%;
  left: 47%;
  width: 17%;
  border-bottom: none !important;
}

.asia {
  position: absolute;
  right: 3%;
  height: 24%;
  width: 34%;
  border-bottom: none !important;
}

.australasia {
  position: absolute;
  right: 8%;
  width: 21%;
  border-bottom: none !important;
}

.europe {
  position: absolute;
  right: 39%;
  width: 17%;
  border-bottom: none !important;
}

.middle-east-upper {
  position: absolute;
  left: 54.5%;
  height: 7%;
  width: 9%;
  border-bottom: none !important;
}

.middle-east-lower {
  position: absolute;
  left: 57.5%;
  height: 10%;
  width: 5%;
  border-bottom: none !important;
}

.north-america {
  position: absolute;
  height: 41%;
  width: 38%;
  border-bottom: none !important;
}

.south-america {
  position: absolute;
  bottom: 10%;
  height: 33%;
  width: 12%;
  left: 28%;
  border-bottom: none !important;
}

.north-america:hover {
  border-bottom: none;
}

.europe:hover {
  border-bottom: none;
}

.south-america:hover {
  border-bottom: none;
}

.australasia:hover {
  border-bottom: none;
}

.middle-east-upper:hover {
  border-bottom: none;
}

.middle-east-lower:hover {
  border-bottom: none;
}

.asia:hover {
  border-bottom: none;
}

.africa-lower:hover {
  border-bottom: none;
}

.africa-upper:hover {
  border-bottom: none;
}

.view-news .views-exposed-form label {
  font-weight: normal;
  color: #ffffff;
  margin-top: -1.6em;
  position: relative;
  z-index: 2;
  padding-left: 12px;
  text-shadow: 2px 2px 2px rgba(58, 58, 58, 0.5);
}

.views-exposed-widget.views-submit-button {
  margin-top: auto;
}

.entity.entity-entityform-type h2 {
  display: none;
}

.iceberg-testhouse {
  background-image: url(/sites/all/themes/aesinternational/images/photos/iceberg-testhouse.jpg);
  background-position: 60% 50%;
  background-size: cover;
}

.iceberg-workshop {
  background-image: url(/sites/all/themes/aesinternational/images/photos/iceberg-workshop.jpg);
  background-size: cover;
}

.iceberg-grounds{
  background-image: url(/sites/all/themes/aesinternational/images/photos/iceberg-inc-grounds.jpg);
  background-size: cover;
}

.iceberg-support{
  background-image: url(/sites/all/themes/aesinternational/images/photos/iceberg-supportsetup.jpg);
  background-size: cover;
}

.iceberg-contact {
  margin-top: -2.25em;
}

.iceberg-mapsea {
  margin-top: -7.5em;
}

.iceberg-feedsea {
  margin-top: -5em;
}

.labtecta-icebergsea {
  padding-bottom: 15em;
}

.contact-block {
  border: 1px solid #888c8f;
  background-color: #002a5b;
  color: #ffffff;
  border-radius: 7px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  z-index: 5;
  margin-bottom: -2.25em;
}

.contact-block a {
  color: #ffffff
}

.btn-contact {
  background: #002A5B;
  color: #ffffff;
  border-radius: 30px;
  border: 2px solid #5B82AD;
}

.btn-contact:hover, .btn-contact:focus {
  background: #004a8c;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.social-profile-icon {
  display: none;
}

.social-body {
  padding: 1em;
}

.social-body p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-date {
  margin-top: 0;
}

.user-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.masonry-item {
  padding: 0.5em;
}

.view-employees .masonry-item {
  padding: 0;
}

.view-employees .masonry-item .views-field.views-field-picture {
  padding: 2em;
}

.group-colimages .field-name-field-product-image .field-items .field-item.even img, .group-colimages .field-name-field-product-image .field-items .field-item.odd img {
  width: 50%;
  padding: 2em;
  float: left;
}

.socialmedia ul li:nth-child(1) a:after {
  font-family: "Font Awesome 5 Brands";
  content: " \f099";
  color: #1DA1F2;
  z-index: 4;
  position: relative;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(2) a:after {
  font-family: "Font Awesome 5 Brands";
  content: " \f0e1";
  color: #0077b5;
  position: relative;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(3) a:after {
  font-family: "Font Awesome 5 Free";
  content: " \f098";
  color: #d34836;
  position: relative;
  font-size: 2.5em;
  font-weight: 900;
}

.socialmedia ul li:nth-child(4) a:after {
  font-family: "Font Awesome 5 Free";
  content: " \f57d";
  color: #002A5B;
  position: relative;
  font-size: 2.5em;
  font-weight: 900;
}

.socialmedia ul li:nth-child(5) a:after {
  font-family: "Font Awesome 5 Free";
  content: " \f3c5";
  color: #d34836;
  position: relative;
  font-size: 2.5em;
  font-weight: 900;
}

.socialmedia ul li:nth-child(1) a:hover::after {
  color: #1a90d9;
}

.socialmedia ul li:nth-child(2) a:hover::after {
  color: #006ba2;
}

.socialmedia ul li:nth-child(3) a:hover::after {
  color: #bd4030;
}

.socialmedia ul li:nth-child(4) a:hover::after {
  color: #004a8c;
}

.socialmedia ul li:nth-child(5) a:hover::after {
  color: #bd4030;
}

.social-contact a.social-link::after {
  font-family: "Font Awesome 5 Brands";
  content: " \f0e1";
  color: #0077b5;
  position: relative;
  font-size: 2em;
  font-weight: 900;
}

.social-contact a.social-link:hover::after {
  color: #006ba2;
}

.map-icons {
  width: 100%;
}

.map-icons ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.map-icons li a {
  border-bottom: none;
}

.map-icon ul li:nth-child(1) a:after {
  font-family: 'FontAwesome';
  content: " \f041";
  color: #d34836;
  font-size: 2.5em;
}

.map-icon ul li:nth-child(2) a:after {
  font-family: 'FontAwesome';
  content: "\f1a0";
  color: #d34836;
  font-size: 2.5em;
}

.btn-primary {
  list-style-type: none;
  display: inline-block;
  background: #dd1e25;
  color: #ffffff !important;
  border-radius: 30px;
  border: 2px solid transparent !important;
  box-shadow: none;
}

.btn-primary a {
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus {
  background: #fa010a;
  margin-bottom: 0;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
}

.entitytype-product_enquiry-form .btn {
  margin-top: 20px;
  background-color: #DD1E25;
  color: #ffffff;
  border-radius: 30px;
  border: 2px solid transparent !important;
  box-shadow: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.entitytype-product_enquiry-form .btn:hover, .entitytype-product_enquiry-form .btn:focus {
  background-color: #fa010a;
  border: 2px solid #ffffff !important;
  color: #ffffff;
}

.field-name-field-external-link a {
  list-style-type: none;
  display: inline-block;
  background: #dd1e25;
  color: #ffffff !important;
  border: none !important;
  border-radius: 0;
  padding: 5px 15px;
}

.field-name-field-tags {
  display: inline-flex;
}

.field-name-field-tags a {
  padding: 10px;
  border-bottom: none;
}

.field-name-field-tags a:hover {
  background-color: #e5e5e7;
  color: #fa010a;
  border-bottom: none;
  padding: 10px;
}

.author-picture {
  margin-top: -4em;
  border: 3px solid #ffffff;
}

.author-margin {
  margin-top: 0.5em;
}

.user-picture {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.flag-indicator {
  margin-top: -6.5em;
  position: relative;
  z-index: 2;
}

.publish-date {
  display: inline-block;
}

.bg-primary {
  width: fit-content;
}

.sub-menu ul.menu.nav li a.active {
  background: #004a8c;
  margin-bottom: 0;
  color: #ffffff;
  width: 100%;
  outline-offset: 1px;
  outline-style: solid;
  outline-color: #5B82AD;
  outline-width: 1px;
}

.print-media {
  display: none;
}

.hide-print-media {
  display: block;
}

.print-menu {
  list-style-type: none;
  justify-content: center;
  display: flex;
}

.btn-padding {
  padding: 0.95em 3.2em;
}

.node-type-media #block-views-opening-hours-block {
  display: none;
}

.node-type-case-studies #block-rrssb-rrssb {
  margin: 1em;
  max-width: 80%;
}

.field-industry p {
  color: #ffffff;
}

.ind-icon {
  position: absolute;
  bottom: -20%;
  z-index: 10;
  right: 40%;
}

.grey-case-banner {
  background-color: #6a6d6d;
  color: #ffffff;
  background-attachment: fixed;
  background-image: linear-gradient(135deg,#888C8F 0%,#6A6D6D 41%,#888C8F 100%);
  height: 100%;
  height: 7em;
  position: relative;
  bottom: 0;
}

.grey-case-wave {
  filter: invert(42%) sepia(6%) saturate(151%) hue-rotate(131deg) brightness(73%) contrast(83%);
  height: 100%;
  right: 0;
  position: absolute;
}

.case-ref {
  color: #ffffff;
  margin-left: 2em;
  padding: 1.5em;
}

.case-ref p {
  color: #ffffff;
  margin-bottom: 0;
}

.field-industry {
  text-align: center;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #ffffff;
}

.api-plans-ref {
  margin-top: 3em;
  position: relative;
  z-index: 1;
}

.node-type-case-studies .field-name-field-product-image .field-items {
  display: inline-flex;
}

.field-name-field-document a:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f019    ";
  font-weight: 900;
}

.field-name-field-document a{
    list-style-type: none;
    display: inline-block;
    background: #dd1e25;
    color: #ffffff !important;
    border: none !important;
    border-radius: 30px;
    padding: 5px 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.file-icon {
  display: none;
}

.node-type-case-studies .field-name-field-product-image .field-items .field-item.odd, .node-type-case-studies .field-name-field-product-image .field-items .field-item.even {
  width: 33.3%;
}

.left-arrow, .right-arrow {
  color: #5cabdf;
  text-shadow: 0 0 3px #ffffff;
}

.scrtabs-tab-container {
  height: 3.8em;
}

.scrtabs-tabs-fixed-container {
  height: 100%;
}

.scrtabs-tab-scroll-arrow {
  height: 100%;
  border-top: 1px solid #ddd;
}

.location-branches .tabbable {
  margin-bottom: 0;
}

.location-branches .nav-tabs {
  border-bottom: 5px solid #5B82AD;
}

.location-branches .nav-tabs li a {
  background: #002A5B;
  color: #ffffff;
  border: 2px solid #5B82AD;
  border-bottom: 2px solid #002A5B !important;
}

.location-branches .nav-tabs li a:hover {
  background: #004a8c;
  color: #ffffff;
  border: 2px solid #5B82AD;
  border-bottom: 2px solid #004a8c !important;
}

.location-branches .nav-tabs li.active a {
  background: #004a8c;
  color: #ffffff;
  border: 2px solid #5B82AD;
  border-bottom: 2px solid #004a8c !important;
}

.location-branches .flex-control-thumbs img {
  opacity: .4;
}

.location-branches .flex-control-thumbs .flex-active {
  opacity: 1;
}

.carousel-slider .flex-direction-nav a, .optionset-4panel-whitepaper .flex-direction-nav a {
  top: 50%;
  opacity: 0.7;
  display: block;
  border: 1px solid #e5e5e7;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.carousel-slider:hover .flex-direction-nav a.flex-prev {
  left: 0;
  opacity: 0.7;
}

.carousel-slider .flex-direction-nav a.flex-prev {
  left: 0;
}

.carousel-slider .flex-direction-nav a.flex-next {
  right: 0;
}

.carousel-slider:hover .flex-direction-nav a.flex-next {
  right: 0;
  opacity: 0.7;
}

.carousel-slider .flex-direction-nav a.flex-prev:hover, .carousel-slider .flex-direction-nav a.flex-next:hover {
  opacity: 1;
}

.flex-direction-nav a:before {
  font-size: 30px;
}

.prod-resources .carousel-slider .slides {
  zoom: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.tour-caption {
  position: absolute;
  bottom: 12%;
  left: 0%;
  width: 100%;
}

.location-pop-up, .Rockford, .Fairfield, .Longview, .Marion, .Lombard, .Corpus, .Odessa, .connect-text {
  display: none;
  height: 100%;
  width: 100%;
}

.ME, .NH, .VT, .NY, .MA, .CT, .PA, .RI, .NJ, .DE, .MD, .WV, .NC, .SC, .GA, .AL, .FL, .MS, .TN, .KY, .OH, .MI, .IN, .IL {
  display: none;
  height: 100%;
}

.WI {
  display: none;
  height: 100%;
}

 .MN, .IA, .MO, .AR, .LA, .TX, .OK, .KS, .NE, .SD, .ND, .MT, .WY, .CO, .NM, .AZ, .UT, .ID, .WA, .OR, .NV, .CA, .AK, .HI {
  display: none;
  height: 100%;
}

.Willow, .Chickasaw, .Birmingham, .Sherwood, .Pontiac, .Edmonds, .Lombard, .Plymouth, .Richardson, .Overland, .Littleton, .Layton, .Meadow, .National, .Kenai, .Kingsport, .Alamitos, .Phoenix, .Paso, .Griffin, .Bakersfield, .Wichita, .Albuquerque, .Plainville {
  display: none;
  height: 100%;
  width: 100%;
}

#Map>*:hover, #Map>g>path:hover, #Lands>*:hover, #Lands>g>path:hover {
  fill: #002a5b !important;
  stroke: #004a8c;
  stroke-width: 2;
  cursor: pointer;
}

.location-pop-up h3 {
  color: #ffffff;
}

.location-pop-up .row-eq-height.show .show {
  display: flex !important;
}

.location-pop-up .row-eq-height.show {
  display: flex !important;
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, .85) !important;
  opacity: initial !important;
  overflow-y: scroll;
  transition: 0.5s;
}

.ui-widget-header {
  background: none !important;
  border: none !important;
  color: #ffffff !important;
}

.ui-widget-content {
  background: none !important;
  border: none !important;
  color: #ffffff !important;
}

.ui-widget {
  font-size: inherit !important;
}

.ui-widget-content a:focus {
  outline: none;
  text-decoration: none;
}

.ui-dialog .ui-dialog-titlebar-close {
  height: 0;
  width: 0;
  padding: 0;
  border: none;
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .close-dialog, body.navbar-is-fixed-top.navbar-administration .close-dialog {
  color: #ffffff;
  position: fixed;
  font-size: 3em;
  float: right;
  z-index: 1032;
  top: 3.5em;
  right: 1.2em;
  height: 1em;
  width: 1em;
  transition: 0.5s;
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  font-weight: normal;
}

.close-dialog {
  color: #ffffff;
  position: fixed;
  font-size: 3em;
  float: right;
  z-index: 1032;
  top: 1.5em;
  right: 1.2em;
  height: 1em;
  width: 1em;
  transition: 0.5s;
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  font-weight: normal;
}

.close-dialog:hover, body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .close-dialog:hover, body.navbar-is-fixed-top.navbar-administration .close-dialog:hover {
  color: #dd1e25;
}

.enquiry-icon {
  color: #ffffff;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background-color: #002a5b;
  position: fixed;
  bottom: 0.75em;
  right: 0.75em;
  z-index: 1032;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
  cursor: pointer;
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .overlay-btn {
  top: 4.2em;
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .change:after {
  top: 4.2em;
}

body.navbar-is-fixed-top.navbar-administration .overlay-btn {
  top: 2.15em;
}

body.navbar-is-fixed-top.navbar-administration .change:after {
  top: 3.15em;
}

.us-team-photo {
  background-image: url("/sites/aesseal.us/files/pictures/Team-Photo-Mangham.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 10.1%;
  padding-bottom: 36%
}

.footer-positioning {
  margin-top: -4.5em;
  padding-top: 4em;
}

.us-rockford-photo {
  background-image: url("/files/locations/aes-rockfrod-stripbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 28.13%;
  padding-bottom: 28.13%;
  margin-bottom: -3em;
}

.us-rockford-photo-2 {
  background-image: url("/sites/aesseal.us/files/locations/aes-rockfrod-2-stripbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-top: 28.13%;
  padding-bottom: 28.13%;
  margin-bottom: -3em;
}

.large-cta-block {
  margin-top: -3.5em;
}

.large-img-cta-block {
  margin-top: -12.5em
}

.ind-flex-item-caption {
  display: flex;
  flex-flow: column;
  top: 5%;
  height: 100%;
  width: 66.667%;
  left: 16.6667%;
  position: absolute;
}

.useful-links-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.graphic-slider-img {
  max-width: 75%;
}

.chem-pharm-logo-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 37%;
  top: 13%;
  left: 0;
  right: 0;
  margin: auto;
}

.virtual-tour:hover {
  background-image: url("/sites/all/themes/aesbs337/images/graphics/360-tour-inverse-over.svg");
  background-size: 50%;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: 50%;
}

.virtual-tour:hover img {
  opacity: 0;
}

.meet-team .view-content {
  display: flex;
  flex-wrap: wrap;
}

.meet-team .pager li>a {
  background-color: #dd1e25;
  border: 1px solid #dd1e25;
}

.prod-range-nav-item {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ui-dialog-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
}

.ui-dialog-content::-webkit-button {
  color: #ffffff;
  border-color: #000000;
}

.ui-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .8);
  border: 1px solid #535354;
}

.ui-dialog .ui-dialog-content {
  background: rgba(0, 0, 0, 0.5) !important;
}

#edit-submit-news {
  height: 34px;
  color: #ffffff;
  background-color: #dd1e25;
  border-color: #dd1e25;
  font-size: inherit;
  padding: 6px 16px;
  margin-top: 0;
  line-height: 5px;
  bottom: 1px;
  border-radius: 30px;
  position: relative;
}

#edit-submit-news:hover {
  background-color: #fa010a;
  outline: none;
  color: #ffffff;
}

#edit-submit-case-studies {
  height: 34px;
  color: #ffffff;
  background-color: #dd1e25;
  border-color: #dd1e25;
  background-image: none;
  text-shadow: none;
  font-size: inherit;
  padding: 6px 16px;
  line-height: 5px;
  border-radius: 30px;
}

#edit-submit-case-studies:hover {
  background-color: #fa010a;
  outline: none;
  color: #ffffff;
}

.view-case-studies .views-exposed-widgets {
  width: 100%;
  min-height: 1em;
  padding: 1em;
  margin-bottom: 20px;
  background-color: #e5e5e7;
  border: 1px solid #e3e3e3;
  border-radius: 0;
}

.view-news .views-exposed-widgets {
  display: flex;
  justify-content: center;
  padding-bottom: 3.75em;
}

#autocollapse.collapsed .navbar-header {
  float: none;
}

#autocollapse.collapsed .navbar-toggle {
  display: block;
  margin-top: 0.65em;
  margin-bottom: 0.65em;
}

#autocollapse.collapsed .navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#autocollapse.collapsed .navbar-collapse.collapse {
  display: none !important;
}

#autocollapse.collapsed .navbar-collapse.collapse.in {
  display: block !important;
}

#autocollapse.collapsed .navbar-nav {
  float: none !important;
}

#autocollapse.collapsed .navbar-nav>li {
  float: none;
  text-align: center;
}

#autocollapse.collapsed .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.iceberg-sea-padding-top{
  padding-top: 8em;
}

.blue-btn:hover {
  border: 2px solid #ffffff!important;
}

.btn-group .btn-lightgrey:nth-child(1) {
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.btn-group .btn-lightgrey:nth-child(2) {
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.btn-group .btn-white:nth-child(1) {
  border-right: 2px solid #e5e5e7;
  border-bottom: 2px solid #e5e5e7;
}

.btn-group .btn-white:nth-child(2) {
  border-left: 2px solid #e5e5e7;
  border-bottom: 2px solid #e5e5e7;
}

.btn-group .btn-red:nth-child(1) {
  border-right: 2px solid #ffffff;
}

.btn-group .btn-red:nth-child(2) {
  border-left: 2px solid #ffffff;
}

.btn-group.btn-views-group .btn-red:nth-child(1) {
  margin-right: 2px;
}

.btn-group.btn-views-group .btn-red:nth-child(2) {
  margin-left: 2px;
}

.gas-seals-background {
  background-image: url("/sites/all/themes/aesinternational/images/product/gascompressorseal_backcut.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.cart-seals-background {
  background-image: url("/sites/all/themes/aesinternational/images/product/CAPI-13_backcut.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.seal-support-background {
  background-image: url("/sites/all/themes/aesinternational/images/product/GasSystem-backcut.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.labtecta-background {
  background-image: url("/sites/all/themes/aesinternational/images/product/Lab_Tecta_66IC_backcut.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.comp-seals-background {
  background-image: url("/sites/all/themes/aesinternational/images/product/TO5-23_backcut.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.gland-packing-background {
  background-image: url("/sites/all/themes/aesinternational/images/product/Packing-backcut.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.client-services-background {
  background-image: url("/sites/all/themes/aesinternational/images/photos/Gas-Assembly-Pro-Jul11-050-cut.jpeg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.prod-enquiry-btn-bottom-left {
  position: absolute;
  bottom: 6em;
  left: 0;
}

.prod-enquiry-btn-bottom-right {
  position: absolute;
  bottom: 6em;
  right: 0;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b.hs-custom-style fieldset{
  padding: 0.5em;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .hs-richtext, .hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b.submitted-message {
  color: #ffffff;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .hs-form-field label:not(.hs-error-msg) {
  color: #ffffff;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .legal-consent-container .hs-richtext {
  color: #ffffff;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .hs-input:not([type=file])) {
  background-color: #000;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 15px;
  width: 100%;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .hs-form-checkbox-display span {
  margin-left: 10px;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .grecaptcha-badge {
  float: right;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .hs-button {
  list-style-type: none;
  display: inline-block;
  background: #dd1e25;
  color: #ffffff !important;
  border: none !important;
  border-radius: 30px;
  padding: 6px 16px;
  border: 2px solid transparent!important;
  box-shadow: none;
}

.hs-form-b0dff973-4804-41c0-bb6f-c6ff8b88ce2b .hs-button:hover {
  background: #ad1c1c;
  margin-bottom: 0;
  color: #ffffff !important;
  border: 2px solid #ffffff;!important;
}

@media screen and (max-width: 370px) {
  .search-block {
    position: absolute;
    top: 25.2em;
    left: -17%;
    width: 23em !important;
  }

  .front .search-block {
    top: 10.2em;
    left: -17%;
  }

  .ind-slide-title {
    margin: 0;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }

  .ind-slide-body{
    font-size: 17px;
    line-height: 21px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .maintenance-page .flex-header {
    font-size: 25px;
    line-height: 40px;
  }

  .maintenance-page .flex-caption {
    font-size: 22px;
    line-height: 36px;
  }

  .tour-header {
    font-size: 2.4em;
    line-height: 40px
  }

  .flex-header {
    top: 0;
    text-align: left;
    display: block;
  }

  .basic_page .flexslider .slides li img {
    margin-top: -8%;
    margin-bottom: -8%;
  }

  .front__flex-margin {
    margin-top: 0;
  }

  .action-menu {
    top: 3.3em
  }

  .lang-switch a {
    margin-right: 3em;
  }

  .locale-untranslated {
    color: #888c8f;
  }

  .socialmedia {
    margin-top: 1em;
  }

  .not-front .socialmedia ul {
    margin-top: 1em;
  }

  .bottom-gap {
    height: 4em;
  }

  .sub-menu ul.menu.nav {
    display: block;
  }

  .map-icon ul li:nth-child(1) a:after {
    padding-right: 0.8em;
  }

  .map-icon ul li:nth-child(2) a:after {
    padding-right: 0.8em;
  }

  .socialmedia ul li:nth-child(1) a:after {
    margin-right: 0.4em;
    font-size: 3em;
    z-index: 4;
  }

  .socialmedia ul li:nth-child(2) a:after {
    margin-right: 0.4em;
    font-size: 3em;
    z-index: 4;
  }

  .socialmedia ul li:nth-child(3) a:after {
    margin-right: 0.4em;
    font-size: 3em;
    z-index: 4;
  }

  .socialmedia ul li:nth-child(4) a:after {
    margin-right: 0.4em;
    font-size: 3em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(5) a:after {
    margin-right: 0.4em;
    font-size: 3em;
    z-index: 4;
  }

  .africa-upper {
    top: 48.5%;
  }

  .asia {
    top: 38%;
  }

  .australasia {
    bottom: 12%;
    height: 27%;
  }

  .europe {
    height: 28%;
  }

  .middle-east-upper {
    top: 48%;
  }

  .middle-east-lower {
    top: 49%;
  }

  .row.bannerimage {
    overflow: hidden;
  }

  .iceberg-mapsea {
    margin-top: -10.75em;
  }

  .maintenance-page .flex-header {
    display: block;
  }

  .maintenance-page .flex-caption {
    display: block;
  }

  .tour-caption {
    bottom: 10%;
  }

  .field-industry {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .api-plans-ref {
    margin-top: 2em;
    overflow-x: hidden;
  }

  .us-team-photo {
    padding-top: 3.1%;
    padding-bottom: 43%;
  }

  .graphic-slider-img {
    max-width: 100%;
    padding-top: 58.1%;
    padding-bottom: 62%;
  }

  .footer-social-icons {
    display: inline-block;
    align-self: center;
    margin-bottom: 0;
  }

  .footer-social-icons a:nth-child(1) {
    padding-left: 0;
  }

  .grey-lower-wave {
    transform: skewX(21deg);
  }

  .grey-upper-wave {
    transform: skewX(21deg);
  }

  .ind-flex-item-caption {
    top: 0;
    width: 83.333%;
    left: 8.333%;
  }

  .prod-range-nav-item {
    position: relative;
  }

  .region-flas a {
    margin-right: 1.1em;
  }

  .virtual-tour-banner {
    background-image: url("/sites/all/themes/aesbs337/images/graphics/360-tour-background-520.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
  }

  .virtual-tour-logo {
    max-width: 50%;
  }

  .virtual-tour:hover {
    background-size: 50%;
  }
}

@media screen and (min-width:501px) and (max-width: 767px) {

  /*Apply to flex-gradient for international sites but for the home/frontpage
  use the class .front .front_flex-margin*/
  .front__flex-margin {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    transform-origin: none;
    margin-bottom: 0;
  }

  .action-menu {
    top: 3.3em;
    position: absolute;
    z-index: 103;
  }

  .graphic-slider-img {
    max-width: 100%;
    padding-top: 21.1%;
    padding-bottom: 21%;
  }
}

@media screen and (max-width:500px) {
  .front__flex-margin {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    transform-origin: none;
    margin-bottom: 0;
  }

  .maintenance-page .front__flex-margin {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    transform-origin: none;
    margin-bottom: 0;
  }

  .action-menu {
    top: 3.3em;
    position: absolute;
    z-index: 103;
  }

  .graphic-slider-img {
    max-width: 100%;
    padding-top: 48.1%;
    padding-bottom: 59%;
  }

  .prod-range-nav-item {
    position: relative;
  }

  .view-case-studies .views-exposed-widgets {
    display: block;
  }

  .prod-resources{
    padding: 1em 1.5em 1em 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .maintenance-page .flex-header {
    font-size: 26px;
    line-height: 42px;
  }

  .maintenance-page .flex-caption {
    font-size: 23px;
    line-height: 37px;
  }

  .tour-header {
    font-size: 2.6em;
    line-height: 42px
  }

  .basic_page .flexslider .slides li img {
    margin-top: -6%;
    margin-bottom: -6%;
  }

  .action-menu {
    top: 3.45em
  }

  .lang-switch a {
    margin-right: 0;
  }

  .flex-header {
    top: 0.2em;
    text-align: left;
    display: block;
  }

  .flex-header h1 {
    font-size: 3em;
    line-height: 52px;
  }

  .flex-caption {
    font-size: 1em;
    line-height: 26px;
    top: 0em;
    display: block;
  }

  .flex_gradient {
    overflow: initial;
  }

  .banner-subtitle {
    top: 60%;
  }

  .socialmedia {
    margin-top: 1em;
  }

  html:lang(fr) .search-block .form-item {
    width: 63%;
  }

  .search-block .form-item {
    width: 71%;
  }

  .iceberg-mapsea {
    margin-top: -7.5em;
  }

  .view-key-branches .view-content {
    display: block;
    flex-wrap: initial;
  }

  .view-global-branches-block .view-content {
    display: block;
    flex-wrap: initial;
  }

  .sub-menu ul.menu.nav {
    display: flex;
  }

  .map-icon ul li:nth-child(1) a:after {
    padding-right: 0.7em;
  }

  /*padding bewteen the icons*/
  .map-icon ul li:nth-child(2) a:after {
    padding-right: 0.8em;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(1) a:after {
    padding-right: 0.7em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(2) a:after {
    padding-right: 0.8em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(3) a:after {
    padding-right: 0.8em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(4) a:after {
    padding-right: 0.8em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(5) a:after {
    padding-right: 0.8em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .action-menu {
    position: absolute;
    z-index: 103;
  }

  .africa-upper {
    top: 50.5%;
  }

  .asia {
    top: 38%;
  }

  .australasia {
    bottom: 12%;
    height: 26%;
  }

  .europe {
    height: 26%;
    top: 22.5%;
  }

  .middle-east-upper {
    top: 48%;
  }

  .middle-east-lower {
    top: 50%;
  }

  .location-branches .scrtabs-tab-container {
    margin-left: 8.33333333%;
    width: 83.33333333%;
  }

  .maintenance-page .flex-header {
    display: block;
  }

  .maintenance-page .flex-caption {
    display: block;
  }

  .tour-caption {
    bottom: 29%;
  }

  .large-cta-block {
    margin-top: -1.5em;
  }

  .field-industry {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .api-plans-ref {
    margin-top: 2em;
  }

  .us-team-photo {
    padding-top: 3.1%;
    padding-bottom: 43%;
  }

  .graphic-slider-img {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-social-icons {
    align-self: center;
  }

  .footer-social-icons a:nth-child(1) {
    padding-left: 0.5em;
  }

  .grey-lower-wave {
    transform: skewX(40deg);
  }

  .grey-upper-wave {
    transform: skewX(40deg);
  }

  .ind-flex-item-caption {
    top: 5%;
    width: 83.333%;
    left: 8.333%;
  }

  .prod-range-nav-item {
    position: relative;
  }

  .view-case-studies .views-exposed-widgets {
    display: block;
  }

  .region-flags a {
    margin-right: 0.8em;
  }

  .virtual-tour-banner {
    background-image: url("/sites/all/themes/aesbs337/images/graphics/360-tour-background-1920.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .virtual-tour-logo {
    max-width: 33%;
  }

  .virtual-tour:hover {
    background-size: 33%;
  }

  .ind-slide-title {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .flex-gradient {
    padding-top: 7em;
  }

  .maintenance-page .flex-header {
    font-size: 2.8em;
    line-height: 58px;
  }

  .tour-header {
    font-size: 3em;
    line-height: 58px;
  }

  .maintenance-page .flex-caption {
    font-size: 1.3em;
    line-height: 36px;
  }

  .maintenance-page .flex-caption {
    font-size: 24px;
    line-height: 39px;
  }

  .flex-header {
    top: 0.2em;
    text-align: left;
  }

  .flex-header h1 {
    font-size: 1.1em;
    line-height: 58px;
  }

  .basic_page .flexslider .slides li img {
    max-width: 95%;
    margin-top: -7%;
    margin-bottom: -7%;
    margin-left: auto;
    margin-right: auto;
  }

  .action-menu {
    top: 3.4em
  }

  html:lang(fr) .search-block .form-item {
    width: 50%;
  }

  .search-block .form-item {
    width: 70%;
  }

  .banner-subtitle {
    top: 55%;
  }

  .view-key-branches .view-content {
    display: flex;
    flex-wrap: wrap;
  }

  .view-global-branches-block .view-content {
    display: flex;
    flex-wrap: wrap;
  }

  .map-icon ul li:nth-child(1) a:after {
    padding-left: 0;
    padding-right: 0.6em;
  }

  /*padding bewteen the icons*/
  .map-icon ul li:nth-child(2) a:after {
    padding-right: 0.6em;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(1) a:after {
    padding-left: 0;
    padding-right: 0.6em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(2) a:after {
    padding-right: 0.6em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(3) a:after {
    padding-right: 0.6em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(4) a:after {
    padding-right: 0.6em;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .socialmedia ul li:nth-child(5) a:after {
    padding-right: 0;
    z-index: 4;
  }

  /*padding bewteen the icons*/
  .action-menu {
    position: absolute;
    top: 3em;
    z-index: 103;
  }

  .africa-upper {
    top: 43.5%;
    left: 43%;
    height: 14%;
  }

  .africa-lower {
    top: 55%;
    height: 23%;
    left: 46%;
  }

  .europe {
    height: 25%;
    top: 18.5%;
  }

  .middle-east-lower {
    top: 45%;
    left: 55%;
  }

  .south-america {
    bottom: 11.5%;
    height: 31%;
    left: 28%;
  }

  .north-america {
    height: 41%;
    width: 38%;
  }

  .maintenance-page .flex-header {
    display: block;
  }

  .maintenance-page .flex-caption {
    display: block;
  }

  .maintenance-page .caption-container {
    top: 0;
    width: 56%;
  }

  .front .caption-container {
    top: 23%;
  }

  .large-cta-block {
    margin-top: -3.5em;
  }

  .us-team-photo {
    padding-top: 6.1%;
    padding-bottom: 40%;
  }

  .graphic-slider-img {
    max-width: 90%;
  }

  .footer-social-icons {
    align-self: center;
  }

  .ind-flex-item-caption {
    width: 65%;
    left: 20%;
    top: -5%;
  }

  .region-flags a {
    margin-right: 1em;
  }

  .virtual-tour-banner {
    background-image: url("/sites/all/themes/aesbs337/images/graphics/360-tour-background-1920.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .virtual-tour-logo {
    max-width: 33%;
  }

  .virtual-tour:hover {
    background-size: 33%;
  }

  .ind-slide-title {
    margin: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .flex-gradient {
    padding-top: 6em;
  }

  .flex-header h1 {
    font-size: 1.1em;
    line-height: 63px;
  }

  .flex-caption {
    font-size: 1em;
    line-height: 36px;
    top: 0;
  }

  .action-menu {
    top: 3em;
  }

  html:lang(fr) .search-block .form-item {
    width: 63%;
  }

  .search-block .form-item {
    width: 72%;
  }

  .banner-subtitle {
    top: 40%;
  }

  .front .caption-container {
    top: 28%;
  }

  .maintenance-page .caption-container {
    top: 0;
    width: 56%;
  }

  .maintenance-page .flex-header {
    font-size: 2.8em;
    line-height: 58px;
  }

  .maintenance-page .flex-caption {
    font-size: 1.3em;
    line-height: 36px;
  }

  .basic_page .flexslider .slides li img {
    max-width: 95%;
    margin-top: -8%;
    margin-bottom: -8%;
    margin-left: auto;
    margin-right: auto;
  }

  .location-branches .scrtabs-tab-container {
    margin-left: 16.666667%;
    width: 66.66666667%;
  }

  .large-cta-block {
    margin-top: -4.5em;
  }

  .us-team-photo {
    padding-top: 8.1%;
    padding-bottom: 38%;
  }

  .graphic-slider-img {
    max-width: 75%;
  }

  .footer-social-icons {
    align-self: center;
  }

  .ind-flex-item-caption {
    top: 15%;
    width: 50%;
    left: 25%;
  }

  .africa-upper {
    top: 47%;
    left: 44%;
  }

  .africa-lower {
    top: 57%;
    height: 28%;
    left: 47%;
  }

  .europe {
    height: 27%;
    top: 20%;
  }

  .north-america {
    height: 41%;
    width: 38%;
  }

  .south-america {
    bottom: 11.5%;
    height: 31%;
    left: 28%;
  }

  .view-case-studies .views-exposed-widgets {
    display: flex;
  }

  .chem-pharm-logo-container {
    width: 35%;
    top: 12%;
  }

  .region-flags a {
    margin-right: 1.1em;
  }

  .virtual-tour-logo {
    max-width: 33%;
  }

  .virtual-tour:hover {
    background-size: 33%;
  }
}

@media (min-width: 1247px) {
  #block-rrssb-rrssb {
    padding-bottom: 4em
  }
}

@media screen and (min-width: 1500px) {
  .basic_page .flexslider .slides li img {
    max-width: 95%;
    margin-top: -10%;
    margin-bottom: -10%;
    margin-left: auto;
    margin-right: auto;
  }

  .large-cta-block {
    margin-top: -8em;
  }

  .us-team-photo {
    padding-top: 10.1%;
    padding-bottom: 36%;
  }

  .graphic-slider-img {
    max-width: 55%;
  }

  .footer-social-icons {
    align-self: auto;
  }

  .africa-upper {
    top: 42.75%;
    left: 44%;
    height: 15%;
  }

  .africa-lower {
    top: 54%;
    height: 23%;
    left: 46%;
  }

  .europe {
    height: 22.75%;
  }

  .middle-east-upper {
    top: 42.75%;
  }

  .middle-east-lower {
    top: 44%;
  }

  .north-america {
    height: 44%;
    width: 38%;
  }

  .south-america {
    bottom: 13%;
    height: 33%;
    left: 28%;
  }

  .chem-pharm-logo-container {
    width: 33%;
    top: 10%;
  }
}

@media screen and (min-width: 2000px) {
  .basic_page.flexslider .slides li img {
    max-width: 85%;
    margin-top: -10%;
    margin-bottom: -10%;
    margin-left: auto;
    margin-right: auto;
  }

  .graphic-slider-img {
    max-width: 50%;
  }

  .africa-upper {
    top: 41%;
    left: 40%;
    height: 16%;
  }

  .africa-lower {
    top: 53%;
    height: 23%;
    left: 42%;
    width: 16%;
  }

  .australasia {
    bottom: 15%;
    height: 21%;
    left: 65%;
  }

  .asia {
    position: absolute;
    right: 8%;
    height: 28%;
    width: 34%;
  }

  .europe {
    height: 22.75%;
    top: 19%;
    left: 39%;
  }

  .middle-east-upper {
    top: 39.75%;
    left: 50.5%;
  }

  .middle-east-lower {
    top: 43%;
    left: 52.95%;
    width: 4.5%;
  }

  .south-america {
    bottom: 13%;
    height: 34%;
    left: 25%;
  }

  .chem-pharm-logo-container {
    width: 33%;
    top: 10%;
  }
}
