#hoyre-kol h1@media print {
  a[href]:after {
    display: none;
  }

  .logo.navbar-btn {
    display: none;
  }

  #navbar {
    display: none;
  }

  .action-menu {
    display: none;
  }

  .preface {
    display: none;
  }

  .wavelower {
    display: none;
  }

  .alert {
    display: none;
  }

  .breadcrumb-wrap {
    display: none;
  }

  .nav-tabs {
    display: none;
  }

  #hoyre-kol h1 {
    display: none;
  }

  #main-content {
    left: 0;
    width: 100%
  }

  aside {
    display: none;
  }

  #block-block-53 {
    display: none;
  }

  #block-block-52 {
    display: none;
  }

  #block-views-contact-form-block-2 {
    display: none;
  }

  .suffix {
    display: none;
  }

  .region-postscript-mid {
    display: none;
  }

  .footer_lower {
    display: none;
  }

  .footer-background {
    background: transparent;
  }

  .footer {
    border: none;
  }

  @page {
    margin: 3cm 3cm 2.25cm 3cm;
    size: A4;
    size: portrait;
  }

  body {
    font: 11pt Arial;
    line-height: 1.5;
    background-color: #ffffff;
    color: #535354;
  }

  h1 {
    font: 16pt Arial;
    color: #dd1e25;
  }

  h2 {
    font: 14.5 Arial;
    color: #002A5B;
  }
}
